<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ service.name }}</h5>
    <p class="card-text">{{ service.description }}</p>
  </div>
  <div class="card-body">
    <a (click)="editService(service)" class="card-link">Editar</a>
    <a class="card-link"
        mwlConfirmationPopover
        [popoverTitle]="'¿Desea eliminar el Servicio?'"
        [popoverMessage]="''"
        [cancelText]="'No'"
        [confirmText]="'Si'"
        placement="top"
        (confirm)="deleteService(service.id)"
        (cancel)="cancelDelete()">
        Eliminar
    </a>
  </div>
</div>